<a href="https://colab.research.google.com/github/SKM1978/Hello-World/blob/master/Basic_python_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Advanced Certification in AIML
## A Program by Datafolkz
### Introduction to Python

# Intro to Jupyter Notebook 

- SHIFT + ENTER for EXECuting the CELL using Jupyter noteboook

Shortcuts in both modes:
- Shift + Enter run the current cell, select below
- Ctrl + Enter run selected cells
- Alt + Enter run the current cell, insert below
- Ctrl + S save and checkpoint

In [ ]:
print('Hello World') # Printing the word Hello world

Hello World

a=15
a

- esc + m for code to markdown
 
- esc + y for markdown to code

## Julia , Python and R can be done using JupyterR

About Python
- Python is a scripting langugae
- Its  case sensitive 
- Its object oriented language

Python program is first compiled and then interpreted. The compilation part is hidden from the programmer thus, many programmers believe that it is an interpreted language. The compilation part is done first when we execute our code and this will generate byte code and internally this byte code gets converted by the python virtual machine(p.v.m) according to the underlying platform(machine+operating system).

An interpreter translates high-level instructions into an intermediate form, which it then executes. In contrast, a compiler translates high-level instructions directly into machine language. Compiled programs generally run faster than interpreted programs. The advantage of an interpreter, however, is that it does not need to go through the compilation stage during which machine instructions are generated. This process can be time-consuming if the program is long. The interpreter, on the other hand, can immediately execute high-level program

## Lexical Structure

The lexical structure of a programming language is the set of basic rules 
that govern how you write programs in that language.

It is the lowest-level syntax of the language and specifies such things 
as what variable names look like and which characters denote comments. 

Each Python source file, like any other text file, is a sequence of characters. 

You can also usefully consider it as a sequence of lines, tokens, or statements. 

These different lexical views complement and reinforce each other. 

Python is very particular about program layout,especially with regard to lines and indentation, 
so you’ll want to pay attention to this information if you are coming to Python from another language.

## Lines and Indentation
•	A Python program is composed of a sequence of logical lines, each made up of one or more physical lines. Each physical line may end with a comment. 
A hash sign (#) that is not inside a string literal begins a comment. 

•	All characters after the # and up to the physical line end are part of the comment, and the Python interpreter ignores them. 

•	A line containing only whitespace, possibly with a comment, is known as a blank line, and Python totally ignores it. 

•	In an interactive interpreter session, you must enter an empty physical line (without any whitespace or comment) to terminate a multiline statement.

•	However, Python automatically joins adjacent physical lines into one logical line if an open parenthesis ((), bracket ([), or brace ({) has not yet been closed, and taking advantage of this mechanism, generally produces more readable code instead of explicitly inserting backslashes at physical line ends.
                                                                                                                                          
•	Triple-quoted string literals can also span physical lines. Physical lines after the first one in a logical line are known as continuation lines.

## Indentation
•	The indentation issues covered next do not apply to continuation lines but only to the first physical line of each logical line.

•	Python uses indentation to express the block structure of a program. Unlike other languages, Python does not use braces, or other begin/end delimiters, around blocks of statements; indentation is the only way to denote such blocks.

•	Each logical line in a Python program is indented by the whitespace on its left. A block is a contiguous sequence of logical lines, all indented by the same amount; a logical line with less indentation ends the block. 

•	All statements in a block must have the same indentation, as must all clauses in a compound statement.

•	The first statement in a source file must have no indentation (i.e., must not begin with any whitespace).

•	Statements that you type at the interactive interpreter primary prompt >>> (covered in Interactive Sessions) must also have no indentation.

## Tokens

•	Python breaks each logical line into a sequence of elementary lexical components known as tokens. Each token corresponds to a substring of the logical line. 

•	The normal token types are identifiers, keywords, operators, delimiters, and literals, as covered in the following sections.

•	You may freely use whitespace between tokens to separate them. Some whitespace separation is necessary between logically adjacent identifiers or keywords; otherwise, Python would parse them as a single, longer identifier. 
 For example, printx is a single identifier; to write the keyword print followed by the identifier x, you need to insert some whitespace (e.g., print x).

In [ ]:
print(2)

2

## Identifiers

•	An identifier is a name used to identify a variable, function, class, module, or other object. An identifier starts with a letter (A to Z or a to z) or an underscore (_) followed by zero or more letters, underscores, and digits (0 to 9).

•	Case is significant in Python: lowercase and uppercase letters are distinct. Python does not allow punctuation characters such as @, $, and % within identifiers.
    
•	Normal Python style is to start class names with an uppercase letter and all other identifiers with a lowercase letter. 

•	Starting an identifier with a single leading underscore indicates by convention that the identifier is meant to be private. 

•	Starting an identifier with two leading underscores indicates a strongly private identifier; if the identifier also ends with two trailing underscores, the identifier is a language-defined special name. 

•	The identifier _ (a single underscore) is special in interactive interpreter sessions: the interpreter binds _ to the result of the last expression statement it has evaluated interactively, if any.

## Keywords

Keywords are the reserved words in Python.

We cannot use a keyword as a variable name, function name or any other identifier. They are used to define the syntax and structure of the Python language.

In Python, keywords are case sensitive.

There are 33 keywords in Python 3.7. This number can vary slightly over the course of time.

All the keywords except True, False and None are in lowercase and they must be written as they are. 

The list of all the keywords is given below.

![image.png](attachment:image.png)

In [ ]:
#Get all keywords in python 3.7

import keyword # import the library Keyword

print(keyword.kwlist) 


print("Total number of keywords ", len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
Total number of keywords  35

In [ ]:
age = 35
print(age)

35

In [ ]:
Global = 45
print(Global)

45

## Operators

Python uses non alphanumeric characters and character combinations as operators. 

Python divides the operators in the following groups:
    

- Arithmetic operators
- Assignment operators
- Comparison operators
- Logical operators
- Identity operators
- Membership operators
- Bitwise operators

## Delimiter
- **Used for grouping, punctuations and assignments**
- (), [], {}
- , : . ' = ;
- += -= *= /= //= %=
- &= |= ^= >>= <<= **=

## Literals

A literal is a number or string that appears directly in a program.

The following are all literals in Python:
    
- Integer literal 42
- Floating-point literal 3.14                       
- Imaginary literal 1.0j                       
- String literal  'hello'                    
- Another string literal "world"                   
- Triple-quoted string literal """Good night"""

## Identifier/Variable

Which stores a value

- It is a sequence of characters that consists of letters, digits and  underscore
- Can be of any length
- Can starts with a letter which can be either lower or upper case
- Can start with an underscore '_'
- Can start with a digit
- Cannot be a keyword.

# Why Statistics is required for Analytics?

Without statistics, the interpretation of data can quickly become massively
flawed. 
Take, for example, the estimated number of German tanks produced during
World War II, also known as the “German Tank Problem.” The estimate of the
number of German tanks produced per month from standard intelligence data was
1,550; however, the statistical estimate based on the number of tanks observed
was 327, which was very close to the actual production number of 342

Similarly, using the wrong tests can also lead to erroneous results.

In general, statistics will help to

• Clarify the question.

• Identify the variable and the measure of that variable that will answer that
question.

• Determine the required sample size.

• Describe variation.

• Make quantitative statements about estimated parameters.

• Make predictions based on your data.

In [ ]:
a1 = 10
print(a1)
a1

10

10

## Scalar Data Types and Operations

Python has four scalar data types:

- Integer
- Float
- Boolean
- Complex

We will review these in this notebook

## Integers

The usual arithmetic operators are available: + for addition, - for subtraction and * for multiplication.

In [ ]:
print(2 + 4)
print(12878 + 1)
print(7 - 3)
print(127 - 128)
print(8 * 6)
print(17 * 12)

6
12879
4
-1
48
204

There are two division operators:
    / for everyday (float) division and // for truncating (integer) division

In [ ]:
print(17 / 4)
print(17 // 4)

4.25
4

The modulo operator % and the exponentiation operator ** are also available.

In [ ]:
print(18 % 3)
print(72 % 5)
print(2 ** 5)

0
2
32

The usual operator precedence rules and use of parentheses to override that are available

In [ ]:
print(10 ** 2 * 7 - 3)
print(10 ** (2 * 7) - 3)
print(10 ** (2 * 7 - 3))

697
99999999999997
100000000000

In [ ]:
a = 123456789 
b = a ** 2
c = b ** 3
d = c ** 4
e = d ** 5
print(e)

95895286347222034791086605662811969785387106853901346544483953642680116799305429392916328044803964544906412568173586838975389693889466931724787382602209026851413718672992500945459050967973754074446682840115185173491232894943036718270805266686475439556591818306146142541531042457606878440869168972012200929781450791973866289435058898863980805449821148199924662026572772426330363272818353600292677639914650163602402387046082945396504228157351617787966026866638977428336270761039733807499229574152744708406709999198108421875593674670017724918532931998179661679487371607921869488779614480174654183050554148246295513430972687654798140382162446340357982348270186444388129720941541158390538541492685710752623852622720768334430468852097226917149171660953626254466986940765253382358001339174903296347169720023617297994349779160697050425373047121064748421434125128308764115407012030949147264066116731171517339637266846118243586757670417982965125332116703787163047835949441767799201

##### Assignment operators
The standard assignment operators are available. That is,  $\alpha$  $\odot=\beta$ is a shorthand for $\alpha = \alpha \odot \beta$
where $\odot$ is any binary arithmetic operator we saw above

In [ ]:
a = 12
b = 5
a += b
print(a, b)
a -= b
print(a, b)
a *= b
print(a, b)
a **=b
print(a,b)

17 5
12 5
60 5
777600000 5

#### Boolean
The two constants True and False are defined.

The usual boolean operators are also available: ==, !=, >, >=, <, <=

In [ ]:
a = 12
b = 13
print(a == b - 1,a == b, a != b, a < b, a >= b)

True False True True False

#### Float
Python has a float datatype (and it is the same as C's double!) and the above operations are available

In [ ]:
a = 12.9
b = 3.6
c = a + b
d = a - b
e = a * b #Watch out for the round off error!
f = a / b
print(a, b, c, d, e, f, sep="\n")
print(a, b, c, d, e, f)

12.9
3.6
16.5
9.3
46.440000000000005
3.5833333333333335
12.9 3.6 16.5 9.3 46.440000000000005 3.5833333333333335

## Complex

Complex numbers are built-in

In [ ]:
z = 3 - 4j
print(z, z.real, z.imag, abs(z), sep="\n")

(3-4j)
3.0
-4.0
5.0

In [ ]:
x = 5 + 12j

In [ ]:
print(z + x, z - x, z * x, x / z, sep="\n")

(8+8j)
(-2-16j)
(63+16j)
(-1.32+2.24j)

## Variables in Python

Variables are used to store data, they take memory space based on the type of value we assigning to them. Creating variables in Python is simple, you just have write the variable name on the left side of = and the value on the right side, as shown below. 
You do not have to explicitly mention the type of the variable, python infer the type based on the value we are assigning.

## Variable name – Identifiers

Variable name is known as identifier. 
There are few rules that you have to follow while naming the variables in Python.

- The name of the variable must always start with either a letter or an underscore (_). For example:  _str, str, num, _num are all valid name for the variables.
- The name of the variable cannot start with a number. For example: 9num is not a valid variable name.
- The name of the variable cannot have special characters such as %, $, # etc, they can only have alphanumeric characters and underscore (A to Z, a to z, 0-9 or _ ).
- Variable name is case sensitive in Python which means num and NUM are two different variables in python.

In [ ]:
#Python Variable Example
age = 35
Name = 'Aravind'
print(age)
print(Name)
32

35
Aravind

32

In [ ]:
# first position of the variable can be underscore
_age = 35

In [ ]:
# First position of the variable can not be a number
9age = 92

SyntaxError: invalid syntax (<ipython-input-18-11927397c5c4>, line 2)

In [ ]:
# Multiple assignement
x,y,z = 2,7, 'cat'
print(x)
print(y)
print(z)

2
7
cat

# Data Types

A data type defines the type of data, for example 650 is an integer data while “Aravind” is a String type of data. 
The data types in Python are divided in two categories:
1. Immutable data types – Values cannot be changed.
2. Mutable data types – Values can be changed

Immutable data types in Python are:
1. Numbers
2. String
3. Tuple

Mutable data types in Python are:
1. List
2. Dictionaries
3. Sets

## 1.Numeric Data Type in Python

#### Integer  
In Python 3, there is no upper bound on the integer number which means we can have the value as large as our system memory allows.

In [ ]:
num = 120
print(num)
print("Data Type of variable num is", type(num))

120
Data Type of variable num is <class 'int'>

#### Float 
Values with decimal points are the float values, there is no need to specify the data type in Python. It is automatically inferred based on the value we are assigning to a variable. 
For example here float_num is a float data type.

In [ ]:
float_num = 28.56
print(float_num)
print("Data Type of variable fnum is", type(float_num))

28.56
Data Type of variable fnum is <class 'float'>

#### Complex Number 
Numbers with real and imaginary parts are known as complex numbers. 
Unlike other programming language such as Java, Python is able to identify these complex numbers with the values. In the following example when we print the type of the variable complex_num, it prints as complex number.

In [ ]:
# complex number
complex_num = 3 + 4j
print(complex_num)
print("Data Type of variable complex_num is", type(complex_num))

(3+4j)
Data Type of variable complex_num is <class 'complex'>

# 2. Python Data Type – String
String is a sequence of characters in Python. The data type of String in Python is called “str”.

Python strings can be enlosed in single quotes or double quotes or triple quotes! Let us look at each of them

In [ ]:
S1 = ' S1 is a string'
print(S1)
type(S1)

 S1 is a string

str

In [ ]:
grading = "Tests, Quizzes, Individual Labs, Group Labs and Hackathons"
print(grading)
type(grading)

Tests, Quizzes, Individual Labs, Group Labs and Hackathons

str

In [ ]:
tests = "CFU's, Analytical, References and Comprehension"
print(tests)

CFU's, Analytical, References and Comprehension

Note how in the string *tests* the single quote is accepted as part of the string without any special escpae mechanism. Similarly we can create and use strings with double quotes inside by enclosing the whole string in single quotes. Here is an example.

In [ ]:
faq = 'Almost all ask the question "What is the best k?" when doing kNN'
print(faq)

Almost all ask the question "What is the best k?" when doing kNN

Triple quoted strings are best used for documentation. But they are useful for storing long strings.
 * We can use single or double quotes
 * We can also use single quotes or dowuble quotes within
 * The line breaks etc are captured; that is there is no need for \n

In [ ]:
story = """A long time ago, in a galaxy far far away ...

It is a period of civil war. Rebel spaceships, striking 
from a hidden base, have won their first victory against 
the evil Galactic Empire.

During the battle, Rebel spies managed to steal secret 
plans to the Empire's ultimate weapon, the DEATH STAR, 
an armored space station with enough power to destroy an entire planet.

Pursued by the Empire's sinister agents, Princess Leia 
races home aboard her starship, custodian of the stolen 
plans that can save her people and restore freedom to the galaxy...."""
print(story)

A long time ago, in a galaxy far far away ...

It is a period of civil war. Rebel spaceships, striking
from a hidden base, have won their first victory against
the evil Galactic Empire.

During the battle, Rebel spies managed to steal secret
plans to the Empire's ultimate weapon, the DEATH STAR,
an armored space station with enough power to destroy an entire planet.

Pursued by the Empire's sinister agents, Princess Leia
races home aboard her starship, custodian of the stolen
plans that can save her people and restore freedom to the galaxy....

##### Simple string operations
 * Concatnate by +, 
 * multiple concatenation by * 
 * check for substring with **in**
 * determine the size (number of characters) using *len*

In [ ]:
h = "Hello"
w = "world!"
hw = h + w
print(hw)
hsw = h + ' ' + w
print(hsw)
h4s3w2 = 4 * h + " " * 3 + w * 2
print(h4s3w2)
print(h in hsw)
print(' ' in hw)
print(len(h4s3w2))

Helloworld!
Hello world!
HelloHelloHelloHello   world!world!
True
False
35

## 3. Python Data Type – Tuple

Tuple is immutable data type in Python which means it cannot be changed. It is an ordered collection of elements enclosed in round brackets and separated by commas.

- Collection of elements with different data types`
- Tuple is an ordered sequence of items same as list.`
- The only difference is that tuples are immutable. Tuples once created cannot be modified.`
- Tuples are just like lists, but you cannot modify their values. The initial values are the value

- The easiest way to create one is with a comma-separated sequence of values created by `( )` and `tuple( )`
- The easiest way to create one is with a comma-separated sequence of values.

In [ ]:
# Using comma-separated sequence of values
tup = 10 ,20 ,30,40,50,"Datafolkz"
tup

(10, 20, 30, 40, 50, 'Datafolkz')

In [ ]:
# tuple of integers
t1 = (10, 2, 32, 42, 57)
# prints entire tuple
print(t1)

# tuple of strings
t2 = ("Hey", "Anjali", "Goodbye")
print(t2)

# tuple of mixed type elements
t3 = (22, "Sarah", 456, "Milly")
print(t3)

(10, 2, 32, 42, 57)
('Hey', 'Anjali', 'Goodbye')
(22, 'Sarah', 456, 'Milly')

In [ ]:
type(t1)

tuple

In [ ]:
# Why the strings are not immutable
name = "Aravind"
len(name)
name[2] # Indexing the  element in second position
name[2] = "P"

TypeError: 'str' object does not support item assignment

In [ ]:
# Why the tuples are immutable?
t1 = (10, 2, 32, 42, 57)
t1[3]
t1[3] = 47

TypeError: 'tuple' object does not support item assignment

## 4.Python Data Type – List
List is similar to tuple, it is also an ordered collection of elements, however list is a mutable data type which means it can be changed unlike tuple which is an immutable data type.

A list is enclosed with square brackets and elements are separated by commas. 

A list is heterogenous; that is the data types of the things need not be the same.

In [ ]:
f = [1, 1, 2, 3, 5, 8]
p = [2, 3, 5, 7]
grading = ["Tests", "Quizzes", "Individual Labs", "Group Labs", "Hackathons"]
grades = [300, 60, 120, 60, 120]
oddjob = [1, 5.6, True, 4-7j, "Hello", [1, 2], [3.9, "World"]]

In [ ]:
f[3] = 10
print(f)

[1, 1, 2, 10, 5, 8]

In [ ]:
print(len(grading))

5

In [ ]:
# We access individual elements using the index
# The first element is at index 0
print(grades[1], oddjob[4])
# We access the elements from the back using negative indices
# -1 is the last, -2 is the last but one and so on
print(grading[-1], grading[-3])

60 Hello
Hackathons Individual Labs

In [ ]:
print(sum(f), sum(p))

27 17

In [ ]:
print(max(grades), min(grades))

300 60

## 5. Python Data Type – Dictionary
Dictionary is a collection of key and value pairs. A dictionary doesn’t allow duplicate keys but the values can be duplicate. It is an ordered, indexed and mutable collection of elements. 

- The keys in a dictionary doesn’t necessarily to be a single data type.

- In Python, dictionaries are defined within braces {} with each item being a pair in the form key:value. Key and   value can be of any type.`

- To declare a dictionary, you write dictionaryName = {dictionary key : data}`

In [ ]:
my_dict = {'India':'New delhi','Srilanka':'Colombo','Bangladesh':'Dakha','Bhutan':'Thimpu'}
my_dict

{'India': 'New delhi',
 'Srilanka': 'Colombo',
 'Bangladesh': 'Dakha',
 'Bhutan': 'Thimpu'}

In [ ]:
type(my_dict)

dict

###### Selection
do selction with a key and get Values

In [ ]:
my_dict['Srilanka']

'Colombo'

##### using `get( )`

In [ ]:
my_dict.get('Srilanka')

'Colombo'

In [ ]:
emp = {'Name':['Raju','Raghav','Ram'],'Age':[27,25,26],
       'Designation':['DS','DC','JDS']}
emp

{'Name': ['Raju', 'Raghav', 'Ram'],
 'Age': [27, 25, 26],
 'Designation': ['DS', 'DC', 'JDS']}

## Sets

- Collection of elements with different data types 
- Collection unique elements
- Indexing can not  be performed in set
- Sets follow order 
- sets can be built using `set() and {  }

In [ ]:
# note the double round-brackets while passing more than one value

myset1 = set(['Data Science','AI','Machine Learning','Statistics'])
myset1

{'AI', 'Data Science', 'Machine Learning', 'Statistics'}

In [ ]:
A = {1,1,1,2,2,5,10,5,80,80,55,55,60,True, False,0}
A

{False, 1, 2, 5, 10, 55, 60, 80}

In [ ]:
type(A)

set

In [ ]:
len(A)

8

## Indexing for sets

In [ ]:
A[0]

TypeError: 'set' object does not support indexing

In [ ]:
B = {'Innomatics','Technology',1,2,3,3}
B